* {
	background-repeat: no-repeat;
	box-sizing: border-box;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
}

html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-text-box-adjust: 100%;
}

body {
	font: 300 100%/1.5 sans-serif;
	margin: 40px 20px;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 100%;
	margin-top: 20px;
}

img {
	border: 0;
	display: block;
}

.controls {
	margin: 40px 0 20px;
}

.fork {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.fork > img {
	height: 15%;
	max-height: 200px;
	max-width: 200px;
	min-height: 100px;
	min-width: 100px;
	height: 15%;
}

.flex {
	background-color: #eee;
	border-color: #666;
	-js-display: flex;
	display: none;
	display: flex;
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.align-items-flex-start {
	align-items: flex-start;
}

.align-items-flex-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-stretch {
	align-items: stretch;
}

.justify-content-flex-start {
	justify-content: flex-start;
}

.justify-content-flex-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-space-around {
	justify-content: space-around;
}

.w-border {
	border-style: solid;
	border-width: 10px;
}

.w-padding {
	padding: 10px;
}

.w-margin {
	margin: 10px;
}

.inline-flex {
	-js-display: inline-flex;
	display: inline-flex;
}

.item {
	background-color: #888;
	display: inline-block;
	vertical-align: top;
}

.bold {
	background: #fb0;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
	display: block;
}

.box-1 {
	background-color: #bdd;
	width: 40px;
	height: 140px;
}

.box-2 {
	background-color: #dbd;
	width: 60px;
	height: 120px;
}

.box-3 {
	background-color: #ddb;
	width: 80px;
	height: 100px;
}

.box-4 {
	background-color: #bbd;
	width: 100px;
	height: 80px;
}

.box-5 {
	background-color: #bdb;
	width: 120px;
	height: 60px;
}

.box-6 {
	background-color: #dbb;
	width: 140px;
	height: 40px;
}
