/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	line-height: 1;
	background-color: #24080c;
	font-family: 'Arial', 'Helvetica', sans-serif;
}

ol, ul {
	list-style: none;
}

/* === Flexibility Demo Styles ===== */

.demo-site-wrapper {
	width: 100%;
	max-width: 1200px;
	padding: 20px 10px;
}

.demo {
	margin: 20px auto;
	padding: 15px;
}

.demo-title,
.demo-desc {
	color: #fef8f9;
	text-align: center;
}

.demo-title {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.demo-desc {
	font-size: 14px;
	line-height: 18px;
}

.demo .demo-items {
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
}

.demo .demo-items a {
	color: inherit;
	text-decoration: none;
}

.demo .demo-items a:hover,
.demo .demo-items a:active,
.demo .demo-items a:focus {
	text-decoration: underline;
}

.demo-one {
	display: flex;
	background-color: #d95167;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 600px;
}

.demo-one .demo-items {
	background-color: #771a29;
	color: #fff;
}

.demo-two {
	background-color: #e58998;
	display: flex;
	align-items: center;
}

.demo-two-left,
.demo-two-right {
	background-color: #df6d7f;
	flex-flow: row wrap;
	padding: 10px;
	width: 50%;
}

.demo-two-left {
	display: inline-flex;
	justify-content: flex-start;
}

.demo-two-right {
	display: inline-flex;
	justify-content: flex-end;
}

.demo-two .demo-items {
	background-color: #f7dce1;
}

.demo-three {
	display: flex;
	align-items: center;
	align-content: stretch;
	background-color: #cb2c46;
	color: #cb2c46;
}

.demo-three .demo-items {
	background-color: #ccc;
	color: inherit;
}

.demo-four {
	background-color: #f1c1c8;
	color: #f1c1c8;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 400px;
	height: 300px;

}

.demo-four .demo-items {
	background-color: #2e2e2e;
	color: inherit;
}