* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: "Arial", sans-serif;
}

ul {
	list-style: none;
}

/* === Flexibility Demo Styles ===== */

.demo-site-wrapper {
	width: 100%;
	max-width: 1200px;
	padding: 20px 10px;
}

.demo {
	margin: 20px auto;
	padding: 15px;
}

.demo-title,
.demo-desc {
	color: #fef8f9;
	text-align: center;
}

.demo-title {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.demo-desc {
	font-size: 14px;
	line-height: 18px;
}

.demo .demo-items {
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
}

.demo .demo-items a {
	color: inherit;
	text-decoration: none;
}

.demo .demo-items a:hover,
.demo .demo-items a:active,
.demo .demo-items a:focus {
	text-decoration: underline;
}

.demo-one {
	-js-display: flex;
	display: block;
	display: flex;
	background-color: #d95167;
	flex-direction: row;
	justify-content: center;
}

.demo-one .demo-items {
	background-color: #771a29;
	color: #fff;
}

.demo-two {
	background-color: #e58998;
	-js-display: flex;
	display: block;
	display: flex;
	align-items: center;
}

.demo-two-left,
.demo-two-right {
	padding: 10px;
	width: 50%;
}

.demo-two-left {
	background-color: #d68;
	-js-display: flex;
	display: block;
	display: flex;
	justify-content: flex-start;
}

.demo-two-right {
	background-color: #d86;
	-js-display: flex;
	display: block;
	display: flex;
	justify-content: flex-end;
}

.demo-two .demo-items {
	background-color: #f7dce1;
}

.demo-three {
	-js-display: flex;
	display: block;
	display: flex;
	align-items: center;
	align-content: stretch;
	background-color: #cb2c46;
	color: #cb2c46;
}

.demo-three .demo-items {
	background-color: #ccc;
	color: inherit;
}

.demo-four {
	background-color: #f1c1c8;
	color: #f1c1c8;
	-js-display: flex;
	display: block;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 400px;
	height: 300px;

}

.demo-four .demo-items {
	background-color: #2e2e2e;
	color: inherit;
}
